<div class="map">
  <a href="#">
    <div class="continent" id="north-america">Amérique du Nord</div>
  </a>
  <a href="#">
    <div class="continent" id="south-america">Amérique du Sud</div>
  </a>
  <a href="#">
    <div class="continent" id="europe">Europe</div>
  </a>
  <a href="#">
    <div class="continent" id="africa">Afrique</div>
  </a>
  <a href="#">
    <div class="continent" id="asia">Asie</div>
  </a>
  <a href="#">
    <div class="continent" id="oceania">Océanie</div>
  </a>
</div>
