<div class="map">
  <a [routerLink]="['/continent', 'North America']">
    <div class="continent" id="north-america">Amérique du Nord</div>
  </a>
  <a [routerLink]="['/continent', 'Europe']">
    <div class="continent" id="europe">Europe</div>
  </a>
  <a [routerLink]="['/continent', 'Asia']">
    <div class="continent" id="asia">Asie</div>
  </a>
  <a [routerLink]="['/continent', 'South America']">
    <div class="continent" id="south-america">Amérique du Sud</div>
  </a>
  <a [routerLink]="['/continent', 'Africa']">
    <div class="continent" id="africa">Afrique</div>
  </a>
  <a [routerLink]="['/continent', 'Oceania']">
    <div class="continent" id="oceania">Océanie</div>
  </a>
</div>
