<div class="container">
  @for ( country of dataCountries; track country.name){
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{country.name.common}}</mat-card-title>
      <mat-card-subtitle>{{country.capital}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{country.flags.png}} alt=image:{{country.name.common}}>

    <mat-card-content>
      @if (selectedCountry === country && country.borders) {
          <p> pays voisins: {{country.borders}}</p>
      } @else if (selectedCountry === country && country.borders == null) {
        <p> Ce pays n'a pas de pays voisin</p>
      }
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="showContent(country)">Information</button>
    </mat-card-actions>
  </mat-card>
}
</div>

