html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: black;
  display: flex;
  align-items: center;  // Centre verticalement
  justify-content: center;  // Centre horizontalement
  height: 20vh;  // Prend 20% de la hauteur de la vue
}

main {
  flex: 1;  // Occupe tout l'espace disponible entre le header et le footer
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;  // Prend 10% de la hauteur de la vue
}
